@model Goal.Models.DailySprintViewModels.DeleteDailySprintViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DailySprints</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DailySprints.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DailySprints.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DailySprints.CurrentState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DailySprints.CurrentState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DailySprints.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DailySprints.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DailySprints.SprintGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DailySprints.SprintGroup.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SprintGroupId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" asp-route-id="@Model.SprintGroupId" >Back to List</a>
    </form>
</div>
