@model Goal.Models.DailySprintViewModels.ListDailySprintViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.SprintGroup.Name</h2>

<p>
   <a class="btn btn-default" asp-controller="DailySprints" asp-action="Create" asp-route-id="@Model.SprintGroup.Id">Add Daily Journal</a>
</p>
<table class="table">
    <thead>
        @foreach (var day in Model.DailySprints)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => day.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => day.CurrentState)
                </th>
                <th>
                    @Html.DisplayNameFor(model => day.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => day.SprintGroup)
                </th>
                <th></th>
            </tr>
        }
    </thead>

    <tbody>
        @foreach (var item in Model.DailySprints)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SprintGroup.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
