@model Goal.Models.SprintGroupViewModels.DeleteSprintGroupViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-center page_header">Delete</h2>

<h3 class="text-center are_you_sure">Are you sure you want to delete this?</h3>
<div>
    <h4 class="text-center are_you_sure ">Sprint @Model.SprintGroup.Name and all of its versions will be lost.</h4>
    <hr />

    <input type="hidden" asp-for="@Model.SprintGroup.Id" />
    <input type="hidden" asp-for="@Model.GoalsId" />
    <input type="hidden" asp-for="SprintGroup.DateCreated" />
    <input type="hidden" asp-for="SprintGroup.Name" />


    <form asp-action="Delete">
        <div class="form-actions no-color text-center">
            <input type="hidden" value="@Model.GoalsId" asp-for="GoalsId" />
            <input type="submit" value="Yes I Understand" class="btn btn-default btn-lg" />
            <a asp-action="Index" asp-route-id="@Model.GoalsId" class="btn btn-default btn-lg ">No Take Me Back</a>
        </div>
    </form>
</div>
