@model Goal.Models.SprintGroupViewModels.ListSprintGroupViewModel

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center page_header">@Model.Goal.Name</h2>
<p class="text-center page_info projects_info">sprints </p>

<p class="text-center">
    <a asp-action="Create" asp-route-id="@Model.Goal.Id" class="btn btn-default">Add</a>
    <a asp-controller="Goals" asp-action="Index" class="btn btn-default">Back To Goal List</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="table_headers">
                Sprint Name
            </th>
            <th class="table_headers">
                Date Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SprintGroup)
        {
            <tr>
                <td class="table_data">
                    <a class="project_list" asp-controller="DailySprints" asp-action="index" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name) </a> 
                </td>
                <td class="table_data">
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>

                <td class="table_data">
                    <a class="btn btn-default" asp-controller="DailySprints" asp-action="Create" asp-route-id="@item.Id">Add Daily Journal</a>
                    <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>

