@model Goal.Models.Goals

@{
    ViewData["Title"] = "Delete";
}

<div class="wrapper">
    <div class="page-header topCenter" style="background-image: url('/images/annie-spratt-256177-unsplash.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="card  marginTop card-register">
                        <h3 class="title">Delete?</h3>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.BeginningState)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.BeginningState)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.DateCreated)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DateCreated)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Completed)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Completed)
                            </dd>
                        </dl>
                        <div class="forgot">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Delete" class="btn btn-default" />
                                <br />
                                <a asp-action="Index">Back to List</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
